.cardpage_outerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  position: relative;
  left: 0;
}

.cardpage_container {
  border: 3px solid red;
  background-color: white;
  padding: 30px;
  padding-top: 200px;
}
