.landingpage_left {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingpage_leftConatiner {
  margin-top: 300px;
}

.landingpage_title1 {
  font-size: 5vw;
  font-weight: 900;
  background-color: #000;
  color: #fff;
  display: block;
  padding: 0.5em;
}

.landingpage_selectbtn {
  margin: 20px;
}

.landingpage_selectbtn button {
  width: 20vw;
  height: 5vh;
}

.landingpage_startbtn {
  margin: 20px;
}

.landingpage_startbtn button {
  width: 20vw;
  height: 5vh;
}

/* landing card */

.landing_card_container {
  position: absolute;
  width: 300px;
  height: 200px;
  right: 10%;
  top: 10%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: perspective(500px);
  transform: perspective(500px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.landing_card_container.flipped {
  -webkit-animation: rotate 13s ease-in-out infinite;
  animation: rotate 13s ease-in-out infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

/* .landing_card_container {
  position: absolute;
  width: 300px;
  height: 200px;
  right: 10%;
  top: 10%;
  transition: transform 2s;
  transform: perspective(500px);
  transform-style: preserve-3d;
}

.landing_card_container.flipped {
  animation: rotate 13s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
} */

.landing_card {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 5%;
}

.landing_card_background {
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  border-radius: 15px;
  object-fit: cover;
}

.landing_card_visaIcon {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 70px;
}

.landing_card_visaCvc {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 45px;
}
.landing_card_cardNum {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 30px;
  bottom: 70px;
  width: 100%;
}

.landing_card_cardHolder {
  position: absolute;
  top: 140px;
  color: white;
  left: 15px;
  font-size: 18px;
}

.landing_card_cardHolder_title {
  opacity: 0.7;
  color: #fff;
  font-size: 13px;
}

.landing_card_expireDate {
  position: absolute;
  top: 140px;
  color: white;
  right: 15px;
  font-size: 18px;
}

.landing_card_expireDate_title {
  opacity: 0.7;
  color: #fff;
  font-size: 13px;
}

.landing_card_back {
  transform: rotateY(180deg) translateZ(5px);
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  border-radius: 15px;
}

.landing_card_visaIcon_back {
  position: absolute;
  top: 160px;
  right: 10px;
  width: 70px;
}

.landing_card_blackStrip {
  top: 25px;
  width: 100%;
  background-color: black;
  height: 45px;
  position: absolute;
}

.landing_card_whiteStrip {
  top: 120px;
  width: 80%;
  background-color: white;
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.landing_card_cvcNum {
  top: 80px;
  right: 10px;
  font-size: 20px;
  height: 25px;
  position: absolute;
  width: 45px;
  text-align: center;
}

.landing_card_cvcNum_title {
  color: white;
  border: 3px solid wheat;
}

.landing_card_visaCvc_back {
  position: absolute;
  top: 158px;
  right: 90px;
  width: 45px;
}
